<div class="post-list">
    {{#foreach posts}}
        <article class="post-item">
            <header class="post-item-header">
                <div class="post-item-header-col">
                    <a href="{{url}}">
                        <h2 class="post-item-title">
                            {{title}}
                            <em class="post-item-date">
                                {{date published_at timeago="true"}}
                            </em>
                        </h2>
                    </a>
                </div>
                {{#if primary_tag}}
                    <div class="post-item-header-col post-item-header-tags">
                        <span class="post-item-tags">{{primary_tag.name}}</span>
                    </div>
                {{/if}}
            </header>
            {{#if feature_image}}
                <div class="post-item-image" style="background-image: url({{feature_image}})"></div>
            {{/if}}
            <section>
                <p>{{excerpt words="100"}}...</p>
            </section>
            <footer class="post-item-continue">
                <a href={{url}}>Continue reading</a>
            </footer>
        </article>
    {{/foreach}}
</div>